body{
  background-color: white;
  margin: 0;
  padding: 0;
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-fluid{
  margin-bottom: 25px;
}
hr{
  margin-top: 100px;
  border: 1px solid grey;
}
/* nav bar */
.navbar-brand{
  margin-top: 10px;
}
.navbar-nav{
  margin-top: 10px;
}

.nav-link{
  margin:0 20px;
}
/*carousel*/
.carousel-item {
  max-height: 600px;
}
/*space division*/
.gap-div{
  height: 50px;
}

/*personal info*/
.person-head{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size:2rem;
  color: #0E185F;
  text-align: center;
}
/* card */
.card{
  margin: 45px 0 90px 0;
  width:500px;
  position: relative;
  left:380px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 1cm;  

}
/* table */
.key{
  font-weight: bold;
  font-size: 1.2rem;
}
.value{
  font-weight:500;
  font-size: 1.2rem;
}
/* footer */
#footer{
  color:white;
 background-color: #0E185F;
  text-align: center;
  height: 125px;
  padding-top: 10px;
}
