body{
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-fluid{
  margin-bottom: 25px;
}
hr{
  margin-top: 100px;
  border: 1px solid grey;
}
/* nav bar */
.navbar-brand{
  margin-top: 10px;
}
.navbar-nav{
  margin-top: 10px;
}

.nav-link{
  margin:0 20px;
}
.container{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 1cm;  

}
.table{
  color: #091353;
}

